.container {
  margin: 0 auto;
  width: 300px;
  font-size: 2em;
}

p {
  text-align: center;
}

button {
  font-size: inherit;
  display: block;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 5px;
}
